body {
  font-family: "Roboto", sans-serif;
  color: #2d3047; }

h1, h2 {
  font-family: "Zilla Slab", serif; }

h4, h5, h3 {
  font-family: "Playfair Display", serif; }

.navbar {
  background-color: #F9FAFC; }
  .navbar .navbar-nav a {
    color: #ff9b71;
    font-size: .75em;
    font-weight: 900;
    letter-spacing: 0.15em; }
  .navbar .navbar-nav a:link {
    text-decoration: none; }
  .navbar .navbar-nav a:hover {
    color: #2d3047;
    border-bottom: solid 0.125em #2d3047;
    transition: .25s ease-in-out; }

.post-it li a {
  color: #2d3047;
  font-size: .75em;
  font-weight: 900;
  letter-spacing: 0.15em; }

.post-it li a:link {
  text-decoration: none; }

.post-it li a:hover {
  color: #ff9b71;
  text-decoration: underline;
  transition: .25s ease-in-out; }

div .blog-feed {
  color: #ff9b71;
  line-height: 1.25em; }
  div .blog-feed h3 {
    color: #2d3047;
    font-weight: 900;
    letter-spacing: 0.15em; }

div .blog-feed:hover {
  color: #2d3047;
  transition: .25s ease-in-out; }
  div .blog-feed:hover .card-title {
    background-color: #ed217c;
    color: #F9FAFC; }
  div .blog-feed:hover p {
    text-decoration: underline; }
  div .blog-feed:hover a:link {
    text-decoration: none; }

.profile-div a {
  color: #2d3047;
  font-size: .7em;
  font-weight: 900;
  letter-spacing: 0.15em; }

.profile-div a:link {
  text-decoration: none; }

.profile-div a:hover {
  color: #ff9b71;
  text-align: underline;
  transition: .25s ease-in-out; }

.profile-div card-body:hover {
  background-color: #F9FAFC; }

div .market-place {
  background-color: #F9FAFC;
  transition: 2s ease-in-out; }
  div .market-place h2 {
    text-align: center; }
    div .market-place h2 button {
      text-decoration: none;
      color: #F9FAFC;
      font-style: "Playfair Display", serif;
      font-size: 0.5em; }
    div .market-place h2 button:link {
      text-decoration: none; }
    div .market-place h2 button:hover {
      color: #F9FAFC;
      text-decoration: none;
      text-shadow: 0.125em 0.125em #2d3047;
      transition: .5s ease-in-out; }
  div .market-place .card-header {
    background-color: #ed217c; }

.brand-footer div ul a:link {
  text-decoration: none;
  font-size: .75em; }
